@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "trebuchet";
  src: url("../public/assets/trebuchet/trebuc.woff");
  font-style: normal;
}

@font-face {
  font-family: "helveticaNeue";
  src: url("../public/assets/HelveticaNeue//HelveticaNeue-CondensedBold.woff");
  font-style: normal;
}